<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">Request page not found</div>
        <a [routerLink]="['/assignments/admin']" class="btn btn-link">Back to admin page</a>
        <a [routerLink]="['/assignments/client']" class="btn btn-link">Back to client page</a>
      </div>
    </div>
  </div>
</div>
