<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="h3 text-light text-uppercase font-weight-bold">ASSIGNMENT SYSTEM</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>
