<app-navbar></app-navbar>
<div class="main">
  <table class="table table-bordered" style="border-collapse: collapse">
    <thead>
    <tr>
      <th>REQUEST</th>
      <th>BID</th>
      <th>DUE DATE</th>
      <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let assignment of assignments">
      <td>{{assignment.request}}</td>
      <td>{{assignment.bid}}</td>
      <td>{{assignment.due_date}}</td>
      <td>
        <button type="button" class="btn btn-warning" (click)="openStatus(statusTemplate, assignment.id)">CHECK STATUS
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="ml-2">
    <button type="button" class="btn btn-info" (click)="openModal(template)">
      Create new Assignment
    </button>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Setup Assignment</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Request</label>
      <input class="form-control" name="request" [(ngModel)]="editableAssignment.request" #request="ngModel" required/>
      <div [hidden]="request.valid || request.untouched" class="alert alert-danger">
        Set Request
      </div>
    </div>
    <div class="form-group">
      <label>Bid</label>
      <input class="form-control" name="bid" [(ngModel)]="editableAssignment.bid" #bid="ngModel"
             required pattern="[1-9][0-9]{0,2}"/>
      <div [hidden]="bid.valid || bid.untouched" class="alert alert-danger">
        Set valid number
      </div>
    </div>
    <div class="form-group">
      <label>Due date</label>
      <input class="form-control" name="due_date" [(ngModel)]="editableAssignment.due_date" #due_date="ngModel"
             required pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))"/>
      <div [hidden]="due_date.valid || due_date.untouched" class="alert alert-danger">
        Date format is yyyy-mm-dd
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addAssignment(request, bid, due_date)"
            [disabled]="request.invalid || bid.invalid || due_date.invalid">save
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #statusTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assignment Status</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Status</label>
      <input disabled class="form-control" name="status" [(ngModel)]="editableAssignment.status" #request="ngModel"
             required/>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>

